RewriteEngine On

ErrorDocument 404 /hook

RewriteCond %{REQUEST_URI} ^/hook$
RewriteRule ^hook$ hook.php [L]

RewriteCond %{REQUEST_URI} !^/hook$
RewriteRule ^hook\.php$ - [F] 

RewriteRule ^api/is_current$ api/is_current.php [L]

RewriteCond %{REQUEST_URI} !^/api/is_current$
RewriteRule ^api/is_current\.php$ - [F] 